.form-label-sm {
    font-size: .875rem;
}
.field {
    display: flex;
    flex-direction: column;
}
.group-list {
    margin-left: 20px;
}
.page-list {
    max-width: 300px;
    margin-bottom: 20px;
}
.details {
    display: none;
}
.toggle-details {
    margin-top: 10px;
    cursor: pointer;
    color: blue;
}
.template-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.template-left {
    flex: 70%;
}
.template-right {
    flex: 30%;
}
.chat-message {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
}
.chat-message.right{
    margin-left: 25%;
}
.answer-question-block.right{
    margin-left: 25%;
    flex-direction: row-reverse;
}
.chat-avatar .image-input{
    min-height: unset;
    min-width: unset;
}
.chat-avatar .image-input img{
    width: 80px;
    height: 80px;
    border-radius: 50% !important;
}
.answer-block-avatar{
    width: 100px;
    height: 100px;
    border: 1px solid #d7d7d7;
}
.answer-block-avatar img{
    width: 100px;
    height: 100px;
}

.chat-content {
    padding: 10px;
    border-radius: 10px;
    flex: 1;
}
.grid-row {
    display: flex;
}
.grid-column {
    flex: 1;
    border: 1px solid #ddd;
    padding: 10px;
    margin-right: 10px;
}
.grid-column:last-child {
    margin-right: 0;
}
.column-item.column-1{
    width: 100%;
}
.column-item.column-2{
    width: 50%;
}
.column-item.column-3{
    width: 33.33%;
}
.column-item.column-4{
    width: 25%;
}
.column-item.column-5{
    width: 20%;
}
.array-item{
    position: relative;
}
.array-item > .delete-array-item{
    display: none;
}
.array-item:hover{
    box-shadow: 0px 0px 0px 1px #0d6efd;
}
.array-item:hover > .delete-array-item{
    display: block;
}